body {
  /* background-color: #f5f5f5; */
  background-image: url("../images/img2.jpg");
  /* background-image: url("3d-render-talk-chat-bubbles-comment-app-icon1.jpg"); */
  background-size: cover;
  /* Center the background image */
  background-attachment: fixed;
  padding: 20px;
  font-family: 'Merriweather',serif;

  /* font-family: Arial, sans-serif; */
}

#c1 {
  /* background-color:hsl(205, 77%, 38%,0.6);  */
  background-color: hsla(240, 100%, 90%, 0.511);
  padding: 30px; /* Add padding to create space around the content */
  border-radius: 10px; /* Add rounded corners */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  text-align: center; /* Center align text */
  margin: 150px 100px 100px 400px; /* Add some marg*/
  width: 600px;
  height: 400px;
}

#c1 h1 {
  font-weight: 700;
  font-style: normal;
  font-style: normal;
  /* font-variation-settings:
    "slnt" 0; */
  /* color: #ef81bf;  */
  color: #2c0361;
  font-size: 2.5rem; /* Larger font size for the heading */
  margin-bottom: 20px; /* Add margin below the heading */
}

#c1 p {
  
  font-weight: 500;
  font-style: normal;
  color: #5a00ec; /* Slightly darker text color */
  font-size: 1.2rem; /* Medium font size for the paragraph */
  margin-bottom: 20px; /* Add margin below the paragraph */
}

#c1 button {
  font-family: 'Merriweather',serif;
  font-weight: 600;
  font-style: normal;
  border: 3px solid #2c0361; /* Add a solid border to the button */
  color: #2c0361;
  background-color: hsla(250, 75%, 89%, 0.755);
  padding: 12px 24px; /* Add padding to the button */
  font-size: 1rem; /* Medium font size for the button text */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

#c1 button:hover {
  background-color: #2c0361; /* Change background color on hover */
  color: #fff; /* Change text color on hover */
  border: 2px solid #2c0361;
}
